<!DOCTYPE html>
	<head>
		<title>Mark's Sensor Data</title>
		<link rel="stylesheet" href='../static/style.css'/>
	</head>
	<body>
		<h1>Mark's Sensor Data</h1>
		<hr>
		<h3> time {{ time }} </h3>
		<h3> LDR {{ ldrdata }} </h3>
		<h3> accx {{ accx }} </h3>
		<h3> accy {{ accy }} </h3>
		<h3> accz {{ accz }} </h3>
		<h3> gyrx {{ gyrx }} </h3>
		<h3> gyry {{ gyry }} </h3>
		<h3> gyrz {{ gyrz }} </h3>
		<h3> magx {{ magx }} </h3>
		<h3> magy {{ magy }} </h3>
		<h3> magz {{ magz }} </h3>
		<hr>
		<h3> time2 {{ time2 }} </h3>
		<h3> barodata {{ barodata }} </h3>
		<h3> tempdata {{ tempdata }} </h3>
		<hr>
		<h3> <a href="/" class="button">REFRESH</a></h3>
		<hr>
		<p> @2022 Developed by Mark</p>
	</body>
</html>



	 
