<!DOCTYPE html>
	<head>
		<title>Mark's Sensor Data</title>
		<link rel="stylesheet" href='../static/style.css'/>
	</head>
	<body>
		<h1>Mark's Sensor Data</h1>
		<hr>
		<h2>Latest Readings</h2>
		<h4> {{ timeldr }} - LIGHT: {{ ldr }} </h4>
		<h4> {{ timeacc }} - ACCELEROMETER: {{ accx }}g, {{ accy }}g, {{ accz }}g </h4>
		<h4> {{ timegyr }} - GYROSCOPE: {{ gyrx }}, {{ gyry }}, {{ gyrz }} </h4> 
		<h4> {{ timemag }} - MAGNETOMETER: {{ magx }}, {{ magy }}, {{ magz }} </h4> 
		<h4> {{ timeprs }} - PRESSURE: {{ prs }} Pascals </h4>
		<h4> {{ timetmp }} - TEMPERATURE: {{ tmp }} oC </h4>
		<h4> <a href="/" class="button">REFRESH</a></h4>
		<hr>
		<h2> HISTORICAL DATA </h2>
		<p> Enter number of samples to retries:
		<form method="POST">
			<input name="numSamples" value = {{ numSamples }}>
			<input type="submit">
		</form></p>
		<hr>
		<img src="/plot/oneDdata" alt="Image Placeholder" width="100%">
		<img src="/plot/threeDdata" alt="Image Placeholder" width="100%">
		<hr>
		<p> @2023 Developed by mspeng@gmail.com </p>
	</body>
</html>
