<!DOCTYPE html>
	<head>
		<title>Mark's Sensor Data</title>
		<link rel="stylesheet" href='../static/style.css'/>
	</head>
	<body>
		<h1>Mark's Sensor Data</h1>
		<hr>
		<h3> {{ timeldr }}: {{ ldr }} </h3>
		<h3> {{ timeacc }}: {{ accx }}g, {{ accy }}g, {{ accz }}g </h3>
		<h3> {{ timegyr }}: {{ gyrx }}, {{ gyry }}, {{ gyrz }} </h3>
		<h3> {{ timemag }}: {{ magx }}, {{ magy }}, {{ magz }} </h3>
		<h3> {{ timeprs }}: {{ prs }} Pascals </h3>
		<h3> {{ timetmp }}: {{ tmp }} oC </h3>
		<h3> <a href="/" class="button">REFRESH</a></h3>
		<hr>
		<p> @2022 Developed by Mark</p>
	</body>
</html>



	 
